<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Hello</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">

<body>
  <div th:replace="header"></div>

  <div>
    <div class="container">
      <div class="row">
        <div class="col"><img th:src="@{'/image/' + ${product.image_path}}" alt="" style="width: 100%; height: 200px;">
        </div>
        <div class="col">
          <table>
            <tr>
              <td class="pt-3" th:text="*{product.name}">名前</td>
            </tr>
            <tr>
              <td class="py-3" th:text="*{product.price + '円'}">単価</td>
            </tr>
            <tr>
              <td>
                <a th:href="@{/member/cart/add/{id} (id=${product.id})}">
                  <button type="submit" class="btn btn-primary">
                    カートに入れる
                  </button>
                </a>
              </td>
              <div>
                <p class="col-10 mt-3" th:text="*{product.description}"></p>
              </div>
        </div>
</body>

</html>
